{% extends 'blog/base.html' %}

{% block title %}Про чай{% endblock  %}


{% block content %}
    <div class=container>
        <h1>Які бувають чаї</h1>
        <ul>
            <!-- <li>Зелений чай</li>
            <li>Черний чай <span id='burp'>🤮</span></li>
            <li>Білий чай</li>
            <li>Червоний чай</li>
            <li>Травяний чай</li> -->
            {%for tea in teas%}
                {% if tea == 'Чорний чай'%}
                    <li>{{tea}} <span id='smile'>🤮</span></li>
                {% else %}
                    <li>{{tea}}</li>
                {% endif %}
            {% endfor %}

        </ul>
        <button class="btn btn-danger">Все про чайок</button>
    </div>
{% endblock  %}


