{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block title %}{% endblock  %}
    </title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'blog/css/style.css'%}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
    <link rel="shortcut icon" href="{% static 'blog/img/favicon.ico'%}" type="image/x-icon">
</head>
<body>
    <aside>
        <img src="{% static 'blog/img/tea.png'%}" alt="Hot Tea" width="70">
        <span class='logo'>Tea</span>
        <h3>Навігація</h3>
        <ul>
           <a href="{% url 'home' %}"><li><i class="fas fa-home"></i> Головна</li></a>
           <a href="{% url 'about' %}"><li><i class="fas fa-mug-hot"></i> Про чай</li></a>
           <a href="{% url 'teanews_home' %}"><li><i class="fas fa-newspaper"></i> Новини про чай</li></a>
           <a href=""><li><i class="fas fa-book"></i> Контакти</li></a>
           <a href="{% url 'create_text' %}"><li><button class='btn btn-info'><i class="fas fa-plus"></i> Додати статтю</button></li></a>



        </ul>
    </aside>

    <main>
        {% block content %}
        {% endblock  %}
    </main>

</body>
</html>

