{% extends 'blog/base.html' %}

{% block title %}Новини про чай{% endblock  %}

{% block content %}
    <div class='container'>
        <h1>Новини про чай</h1>
        <p>Cучасне покоління, мабуть, і не уявляє, що колись на теренах України не було чаю. Та сьогодні взагалі якось важко уявити відсутність чайного різноманіття на полицях магазинів. А от дійсно, коли чай з’явився в Україні?  Подейкують, що завезли його з Монголії. Напевно всі ми пам'ятаємо, як на кухні стояли чайнички, де заварювався міцний чай. Коли хотілося гаряченького, у чашку наливали трохи «заварки», а потім був окріп. Далі вже цукор і лимон за смаком. Згодом почали з’являтися на полицях українських магазинів та в меню кав’ярень нові сорти чаю: фруктові, мате, пуер, ройбуш.. Сьогодні ж у кожного з нас є можливість спробувати щось новеньке.</p>
        <button class="btn btn-warning">Все про чайок</button>
    </div>
{% endblock  %}