{% extends 'blog/base.html' %}

{% block title %}Новини про чай{% endblock  %}

{% block content %}
    <div class='container'>
        <h1>Новини про чай</h1>
        {% if news %}
            {% for new in news%}
                <div class='alert alert-warning'>
                    <h3>{{ new.title }}</h3>
                    <p>{{new.preview}}</p>
                </div>
            {% endfor %}
        {% else %}
            <p>Немає нічого читати<span id='smile'>😔</span></p>
        {% endif%}

        <button class="btn btn-warning">Все про чайок</button>

    </div>
{% endblock  %}